Source: liblog-delta-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 4.0.2)
Build-Depends-Indep: perl (>= 5.8.0-7)
Maintainer: mlawren <nomad@null.net>
Standards-Version: 3.6.1

Package: liblog-delta-perl
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, 
Conflicts: libdebug-perl
Description:  Perl Logging object with relative time measurements
 .
